.buttonMessage {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: var(--Primary);
    border-radius: 6px;
    padding: 10px 20px;
    color: var(--White);
    cursor: pointer;
    margin: 5px;
    border: 1px solid var(--Primary);
}
.buttonMessage svg {
    margin-right: 10px;
}
.buttonMessage:hover {
    background-color: var(--White);
    color: var(--Primary);
    border: 1px solid var(--Primary);
}
