.MyPropertiesList {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.MyPropertiesList .aside {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-left: 170px;
    padding-top: 100px;
}
.MyPropertiesList .aside h3 {
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
    color: var(--Primary);
}

.MyPropertiesList .aside .infoData {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.MyPropertiesList .aside .infoData .textInfo{
  padding: 10px 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--Border);
  border-radius: 6px;
  margin: 5px;
}

.MyPropertiesList .aside .infoData .textInfo h5 {
  font-weight: 600;
  text-align: center;
  color: var(--Gray);
}
.MyPropertiesList .aside .infoData .textInfo h5 span {
  font-weight: 900;
  color: var(--Primary);
}

.MyPropertiesList .aside .link {
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  background-color: var(--Primary);
  color: var(--White);
  margin: 5px;
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
}


.MyPropertiesList .informations {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.MyPropertiesList .informations .propertyListAdm{
    width: 90%;
    border-radius: 4px;
    background-color: var(--BorderHover);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    margin: 5px 10px;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.2);
}
.MyPropertiesList .informations .propertyListAdm .image{
    border-radius: 4px 0 0 4px;
    width: 120px;
    height: 100%;
    object-fit: cover;
}
.MyPropertiesList .informations .propertyListAdm .image img{
    border-radius: 4px 0 0 4px;
    width: 120px;
    height: 100%;
    object-fit: cover;
}

.MyPropertiesList .informations .propertyListAdm .textpropertyListAdm{

    background-color: var(--BorderInput);
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    padding: 10px;
    text-align:left;
    width: 100%;
    height: 100%;
    background-color: var(--BorderHover);
}
.MyPropertiesList .informations .propertyListAdm .textpropertyListAdm .textDatapropertyListAdm{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    text-align:left;
    width: 100%;
    height: 100%;
}
.MyPropertiesList .informations .propertyListAdm .textpropertyListAdm .textDatapropertyListAdm h3 {
    color: var(--Primary);
    font-weight: 700;
    margin: 0 10px;
    text-align:left;
  }

  .MyPropertiesList .informations .propertyListAdm .textpropertyListAdm .textDatapropertyListAdm h5 {
    color: var(--Gray);
    margin: 0 9px;
    text-align:left;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row;
    font-weight: 700;
  }
  .MyPropertiesList .informations .propertyListAdm .textpropertyListAdm .textDatapropertyListAdm h6 {
    color: var(--Gray);
    margin: 5px 10px 0 10px;
    text-align:left;
  }
  .MyPropertiesList .informations .propertyListAdm .textpropertyListAdm h4 {
    margin: 5px 10px 0 10px;
    text-align:center;
    padding: 3px 5px;
    background-color: var(--Aproved);
    color: var(--White);
    border-radius: 3px;
  }
  .MyPropertiesList .informations .propertyListAdm .infosContactData {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    padding: 10px 0;
    width: 100%;
    flex-wrap: wrap;
  }
  .MyPropertiesList .informations .propertyListAdm .infosContactData .infoUnicData {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    padding: 10px;
    margin: 5px;
    border-radius: 6px;
    border: 1px solid var(--Border);
  }

  .MyPropertiesList .informations .propertyListAdm .infosContactData .infoUnicData svg {
    color: var(--Gray);
    margin-right: 5px;
  }
  .MyPropertiesList .informations .propertyListAdm .infosContactData .infoUnicData  h5 {
    font-weight: 600;
    color: var(--Gray);
  }

  .MyPropertiesList .informations .propertyListAdm .infosContactData .infoUnicData:hover {
    background-color: var(--BorderInput2);
  }

  .MyPropertiesList .informations .propertyListAdm .buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    border-left: 1px solid var(--Border);
}

.MyPropertiesList .informations .propertyListAdm .buttons .linkEdit {
  padding: 10px;
  border: none;
  border-radius: 6px;
  background-color: var(--Edit);
  color: var(--White);
  margin: 5px;
  font-size: 16px;
  font-weight: 700;
                display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: row;
}
.MyPropertiesList .informations .propertyListAdm .buttons .delete {
  padding: 10px;
  border: none;
  border-radius: 6px;
  background-color: var(--Button);
  color: var(--White);
  margin: 5px;
  font-size: 16px;
  font-weight: 700;
                display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: row;
}
.MyPropertiesList .informations .propertyListAdm .buttons .notView {
  padding: 10px;
  border: none;
  border-radius: 6px;
  background-color: var(--Aproved);
  color: var(--White);
  margin: 5px;
  font-size: 16px;
  font-weight: 700;
                display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: row;
}
.MyPropertiesList .aside .search {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin: 30px 10px;
  width: 90%;
}
.MyPropertiesList .aside .search .selection {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 100%;
}


.MyPropertiesList .aside .search input {
  width: 50%;
  height: 40px;
  padding: 10px 20px;
  border: 1px solid var(--Border);
  border-radius: 6px;
  margin: 2px;
}
.MyPropertiesList .aside .search .selection select {
  width: 100%;
  height: 40px;
  padding: 10px 20px;
  border: 1px solid var(--Border);
  border-radius: 6px;
  margin: 2px;
}


@media(max-width: 850px) {
  .MyPropertiesList .aside .search {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 90%;
  }
  
  
  .MyPropertiesList .aside .search input {
    width: 100%;
  }


@media (max-width: 700px) {
    .MyPropertiesList .informations {
        padding: 0 10px 100px 10px;
    }
    .MyPropertiesList .aside {
        padding-left: 0px;
    }



    @media (max-width: 570px) {

          .MyPropertiesList .informations .propertyListAdm{
            width: 100%;
            margin:20px 5px;

            display: flex;
            align-items: center;
            justify-content: flex-start;
            flex-direction: column;
        }

            .MyPropertiesList .informations .propertyListAdm .image{
            width: 100%;
            height: 100px;
        }
          .MyPropertiesList .informations .propertyListAdm .image img{
            width: 100%;
            height: 100px;
        }

        .MyPropertiesList .informations .propertyListAdm .infosContactData .infoUnicData {
          padding: 5px;
        }
      

        .MyPropertiesList .informations .propertyListAdm .buttons{
          justify-content: space-evenly;
          flex-direction: row;
          width: 100%;
          border-left:none;
          border-top: 1px solid var(--Border);
          padding: 5px;
      }

        .MyPropertiesList .informations .propertyListAdm .buttons .linkEdit {
        width: 100%;
      }
        .MyPropertiesList .informations .propertyListAdm .buttons .delete {
        width: 100%;
      }
        .MyPropertiesList .informations .propertyListAdm .buttons .notView {
        width: 100%;
      }


      .MyPropertiesList .aside .search {
        width: 100%;
        padding: 10px;
      }

      .MyPropertiesList .aside .search .selection {
        flex-direction: column;
        width: 100%;
      }

      .MyPropertiesList .aside .infoData .textInfo {
        padding: 5px 10px;
        margin: 3px;
      }
      .MyPropertiesList .aside .infoData .textInfo h5 {
        font-size: 12px;
      }
      
    }
}
}
