.MyAccountAdm {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.MyAccountAdm .aside {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-left: 170px;
    padding-top: 80px;
}
.MyAccountAdm .aside h3 {
    margin-bottom: 20px;
    font-weight: bold;
    text-align: center;
}
.MyAccountAdm .informations {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}


.MyAccountAdm .informations form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px 0 40px 0;
}



.MyAccountAdm .informations form .label-avatar{
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
    margin: 20px 0;
}

.MyAccountAdm .informations form .label-avatar input {
    display: none;
}

.MyAccountAdm .informations form .label-avatar span {
    z-index: 99;
    position: absolute;
    opacity: 0.7;
    transition: all .5s;
}

.MyAccountAdm .informations form .label-avatar span:hover{
    opacity: 1;
    transform: scale(1.4);
}

.MyAccountAdm .informations form .label-avatar img{
    margin-bottom: 1em;
    border-radius: 10px;
    object-fit: cover;
    width: 100px;
    height: 100px;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.2);
}

.MyAccountAdm .informations form .textDataInputs {
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.MyAccountAdm .informations form .textDataInputs h4 {
    font-weight: 700;
    color: var(--Gray);
}


.MyAccountAdm .informations form .dataInputs{
    width: 700px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 5px 0;
    flex-wrap: wrap;
}


.MyAccountAdm .informations form input{
    width: 200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;
    margin: 5px;
    border-radius: 6px;
    background-color: var(--BorderInput);
    border: none;
}
.MyAccountAdm .informations form button{
    padding: 10px 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 5px 0;
    border-radius: 6px;
    background-color: var(--Primary);
    border: none;
    color: var(--White);
    font-weight: 700;
}

@media (max-width: 800px) {
    .MyAccountAdm .informations form .dataInputs{
        width: 100%;
    }
@media (max-width: 700px) {
    .MyAccountAdm .informations {
        padding-bottom: 80px;
    }
    .MyAccountAdm .aside {
        padding-left: 20px;
        padding-right: 20px;
    }

    


    @media (max-width: 500px) {
        .MyAccountAdm .informations form{
            width: 100%;
        }

        
        
        .MyAccountAdm .informations form input{
            width: 100%;
        }
        .MyAccountAdm .informations form button{
            width: 100%;
        }
        
    }
}
}