.ComingSoon {
    width: 100%;
    height: 100vh;
    background-color: #ab1b20;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.ComingSoon h1 {
    text-align: center;
    color: var(--White);
    font-weight: 800;
    margin: 10px;
}
.ComingSoon img {
    width: 450px;
    margin: 10px;
}

.ComingSoon .coming {
    padding: 10px 60px;
    border: 2px solid var(--White);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 20px 10px;
    border-radius: 50px;
}
.ComingSoon .coming h4 {
    text-align: center;
    color: var(--White);
    font-weight: 900;
}
.ComingSoon .logo {
    width: 150px;
    margin: 20px;
}
.ComingSoon .logo img {
    width: 100%;
}


@media (max-width: 600px) {

    .ComingSoon h1 {
        font-size: 20px;
    }

    .ComingSoon img {
        width: 300px;
        margin: 10px;
    }

    .ComingSoon .image {
        width: 261px;
        height: 164px;
        margin-top: 63px;
        margin-left: 1px;
    }


    .ComingSoon .coming {
        width: 200px;
    }
}