.Home {
    width: 100%;
}
.Home .textHome {
    margin-top: 40px;
    width: 100%;
    text-align: center;
}
.Home .textFeature {
    margin-top: 150px;
    width: 100%;
    text-align: center;
}
.Home .textHome h2 {
    margin: 20px;
    font-weight: bold;
}
.Home .textFeature h2 {
    margin: 20px;
    font-weight: bold;
}
.Home .carroussel {
    width: 90%;
    margin: 0px auto;
}

@media (max-width: 1030px) {
    .Home .carroussel {
        width: 95%;
        margin: 0px auto;
    }

    @media (max-width: 970px) {
        .Home .carroussel {
            width: 100%;
            margin: 0px auto;
        }

        @media (max-width: 750px) {
            .Home .textFeature {
                margin-top: 350px;
                width: 100%;
                text-align: center;
            }

            @media (max-width: 555px) {
                .Home .textFeature {
                    margin-top: 400px;
                    width: 100%;
                    text-align: center;
                }
         
            }
     
        }
 
    }
    
}