.PropertyUnicBlock {
    width: 255px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: var(--White);
    border: 1px solid var(--Border);
    border-radius: 6px;
    margin: 20px auto;
    padding-bottom: 10px;
}

.PropertyUnicBlock .image {
    width: 100%; 
    height: 150px;
    border-radius: 6px 6px 0 0;
}
.PropertyUnicBlock .image img {
    width: 100%; 
    height: 150px;
    border-radius: 6px 6px 0 0;
}


.PropertyUnicBlock .featured {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: var(--Primary);
    border-radius: 20px;
    position: absolute;
    margin-top: -15px;
    margin-left: 10px;
    padding: 10px 40px;
}

.PropertyUnicBlock .featured p {
    color: var(--White);
    font-weight: 700;
}



/* .PropertyUnicBlock .status {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: var(--Secondary);
    border-radius: 6px;
    position: absolute;
    margin-top: 110px;
    margin-left: 10px;
    padding: 10px 20px;
}

.PropertyUnicBlock .status p {
    color: var(--White);
    font-weight: 700;
} */

.PropertyUnicBlock .heart {
    position: absolute;
    margin-top: 115px;
    margin-left: 210px;
}

.PropertyUnicBlock .heart svg {
    font-size: 24px;
}

.PropertyUnicBlock .heart2 {
    position: absolute;
    margin-top: 115px;
    margin-left: 210px;
}

.PropertyUnicBlock .heart2 svg {
    color: var(--Primary);
    font-size: 24px;
    cursor: pointer;
}
.PropertyUnicBlock .heart svg:hover {
    color: var(--Primary);
}




.PropertyUnicBlock .text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
}
.PropertyUnicBlock .text h2 {
    color: var(--Paragraph);
    font-weight: 700;
    margin: 20px 10px 5px 10px;
}
.PropertyUnicBlock .text h3 {
    color: var(--Paragraph);
    font-weight: 700;
    margin: 10px 10px 5px 10px;
}

.PropertyUnicBlock .text a {
    text-decoration: none;
}
.PropertyUnicBlock .text h4 {
    color: var(--Paragraph);
    font-weight: 700;
    margin: 10px 10px 5px 10px;
}
.PropertyUnicBlock .text h5 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    color: var(--Gray);
    margin: 0 10px;
}
.PropertyUnicBlock .text h6 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    color: var(--Gray);
    margin: 0 8px;
    font-weight: 700;
}
.PropertyUnicBlock .text .icons {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}

.PropertyUnicBlock .text .icons .iconUnic {
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    text-align: center;
    padding: 5px;
    margin: 5px;
    color: var(--Gray);
}
.PropertyUnicBlock .text .icons .iconUnic svg {
    font-size: 18px;
    margin-right: 10px;
    color: var(--Primary);
}

.PropertyUnicBlock .text .icons .iconUnic .simbol {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    margin-top: 3px;
}
.PropertyUnicBlock .text .icons .iconUnic .simbol  p {
    color: var(--Gray);
    font-weight: 600;
    font-size: 10px;
}

.PropertyUnicBlock .text .pricing {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: flex-start;
}

.PropertyUnicBlock .text .pricing h6 {
    color: var(--Gray);
    font-weight: 800;
    margin: 0 10px;
}
.PropertyUnicBlock .text .pricing h6 span {
    font-weight: 500;
    color: var(--Gray);
}
.PropertyUnicBlock .text .pricing h3 {
    color: var(--Paragraph);
    font-weight: 400;
    margin: 2px 10px 5px 10px;
}
.PropertyUnicBlock .text .pricing span {
    color: var(--Paragraph);
    font-weight: 800;
}


@media (max-width: 750px) {
    .Featured {
        margin: 350px 0 50px 0;
    }

    @media (max-width: 572px) {
        .Featured {
            margin: 400px 0 50px 0;
        }

        .PropertyUnicBlock {
            width: 80%;
        }
        @media (max-width: 450px) {

        .PropertyUnicBlock {
            width: 95%;
        }
    }
}
}