.Favorite{
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--Border);
    padding: 10px;
}

.Favorite .infos {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.Favorite .image {
    width: 50px;
    margin: 0 5px;
}

.Favorite .image img {
    width: 50px;
}

.Favorite .infos .text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 5px;
}
.Favorite .infos .text h4 {
    font-weight: 700;
    color: var(--Description);
}

.Favorite .infos .text .professionals {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.Favorite .infos .text .professionals p {
    color: var(--White);
    background-color: var(--Gray);
    padding: 5px 5px;
    margin: 5px 5px 5px 0;
    border-radius: 6px;
    font-size: 10px;
    font-weight: normal;
}

.Favorite svg {
    color: var(--Primary);
    font-size: 25px;
}

@media (max-width: 900px) {
    .Favorite{
        width: 80%;
    }

    @media (max-width: 650px) {
        .Favorite{
            width: 90%;
        }

        @media (max-width: 500px) {
            .Favorite{
                width: 100%;
            }
        }
    }
}