.PrivacyPolicy {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 60px 20px 20px 20px;
}

.PrivacyPolicy h2 {
    margin-top: 40px;
    margin-bottom: 20px;
    font-weight: bold;
    text-align: center;
}
.PrivacyPolicy .text {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

}
.PrivacyPolicy .text h4 {
    font-weight: 700;
    margin: 10px 0;
    color: var(--Description)
}
.PrivacyPolicy .text p {
    font-weight: 500;
    margin: 5px 0;
    color: var(--Description)
}