.Navbar {
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: var(--White);
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    z-index: 98;
   padding: 0 40px; 
}

.Navbar .logo img {
    height: 40px;
}

.Navbar .itens {
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.Navbar .itens .list {
    width: 70%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    font-size: 20px;
    font-weight:600;
    color: var(--Text2);
}

.Navbar .itens .list p {
    font-size: 14px;
}

.Navbar .itens .account {
    width: 30%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    font-size: 20px;
    font-weight:600;
    color: var(--Text2);
}

.Navbar .itens .account p {
    font-size: 14px;
}

.Navbar .itens .account button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 6px;
    padding: 10px 20px;
    background-color: var(--Button);
    font-weight:600;
    color: var(--White);
}