.Favorites {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 60px 20px 20px 20px;
}

.Favorites h2 {
    margin-top: 40px;
    margin-bottom: 20px;
    font-weight: bold;

}

@media (max-width: 450px) {
    .Favorites {
        padding: 60px 5px;
    }
    
}