.Footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    padding: 20px;
    border: none;
    border-top: 1px solid var(--Gray);
    background-color: var(--Black2);
    color: var(--White);
    margin-top: 40px;
}

.Footer .sections {
    display: flex;
    align-items: flex-start;
    justify-content:space-between;
    flex-direction: row;
    width: 95%;
    padding: 40px 20px 20px 20px;
    flex-wrap: wrap;
}

.Footer .sections .sectionUnic {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    width: 220px;
    height: 220px;
    text-align: left;
}

.Footer .sections .sectionUnic img {
    width: 150px;
    margin-bottom: 10px;
}

.Footer .sections .sectionUnic h4 {
    margin-bottom: 10px;
    font-weight:700;
}
.Footer .sections .sectionUnic p {
    margin-bottom: 10px;
    font-weight:700;
}
.Footer .sections .sectionUnic h5 {
    font-weight:700;
    margin-bottom: 5px;
}
.Footer .sections .sectionUnic .icons {
    display: flex;
    align-items: flex-start;
    justify-content:space-between;
    flex-direction: row;
    width: 100%;
}
.Footer .sections .sectionUnic .icons .icon {
    display: flex;
    align-items: flex-start;
    justify-content:center;
    flex-direction: column;
    width: 50%;
}

.Footer .sections .sectionUnic .icons .icon .logos {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    width: 100%;
}
.Footer .sections .sectionUnic .icons .icon .logos h2 {
    margin-right: 10px;
    cursor: pointer;
}
.Footer .sections .sectionUnic .icons .icon .logos h2:hover {
    color: var(--Primary);

}

.Footer .copy {
    display: flex;
    align-items: center;
    justify-content:space-between;
    flex-direction: row;
    width: 90%;
    border: none;
    border-top: 1px solid var(--Gray);
    padding: 40px;
}

.Footer .copy h5 {
    color: var(--White);
    font-weight: 700;
    
}
.Footer .copy h5 a {
    color: var(--White);
    text-decoration: none;

}
.Footer .copy h5 a:hover {
    color: var(--Primary);
}

@media (max-width: 1280px) {
    .Footer .sections {
        justify-content:space-between;
        width: 100%;
        padding: 40px 20px 20px 20px;
    }
    .Footer .sections .sectionUnic {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        width: 200px;
        height: 180px;
        text-align: left;
    }

    @media (max-width: 900px) {
        .Footer .sections {
            justify-content:space-around;
        }
    
        .Footer .sections .sectionUnic {
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            flex-direction: column;
            width: 200px;
            height: 100%;
            text-align: left;
            margin: 20px 10px;
        }

        @media (max-width: 750px) {
            .Footer .copy {
                display: flex;
                align-items: center;
                justify-content:center;
                flex-direction: column;
                width: 100%;
                border: none;
                border-top: 1px solid var(--White);
                padding: 10px 0px;
            }
            .Footer .copy h5 {
                margin: 10px 0px;
                text-align: center;
            }
        }
    }
    }


