
.SearchPropertyListing {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    margin: 0px 3px;
}
.SearchPropertyListing .search {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-radius: 0 0 6px 6px;
    
    background-color: var(--White);
    padding:7px;
}
.SearchPropertyListing .search h3 {
    display: none;
}
.SearchPropertyListing .search .primary {
    width: 100%;
    border-radius: 6px 0 0 6px;
}
.SearchPropertyListing .search input {
    width: 100%;
    background-color: var(--White);
    color: var(--Paragraph);
    padding: 10px;
    font-weight: 700;
    border:none;
    border: 1px solid var(--Border);
    height: 40px;
}
.SearchPropertyListing .search select {
    width: 100%;
    background-color: var(--White);
    color: var(--Paragraph);
    padding: 10px;
    font-weight: 700;
    border:none;
    border: 1px solid var(--Border);
    height: 40px;
}

.SearchPropertyListing .search input::placeholder {
    color: var(--Gray);
    font-weight: 700;
}
.SearchPropertyListing .search button {
    padding: 10px 40px;
    border-radius: 0 0 6px 6px;
    background-color: var(--Primary);
    color: var(--White);
    font-weight: 500;
    border: none;
    height: 40px;
    width: 100%;
}

.SearchPropertyListing .selectButtonsListing {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid var(--Border);
}
.SearchPropertyListing .selectButtonsListing button {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    width: 25%;
    padding: 15px 20px;
    Background-color: var(--White);
    color: var(--Paragraph);
    font-weight: 700;
    border: 2px solid var(--White);
    
    font-size: 12px;
}
.SearchPropertyListing .selectButtonsListing button:hover {
    background-color: var(--Primary);
    color: var(--White);
}
.SearchPropertyListing .selectButtonsListing button svg {
   margin-right: 5px;
}
.SearchPropertyListing .selectButtonsListing .btn1 {
    width: 25%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 15px 20px;
    Background-color: var(--White);
    color: var(--Paragraph);
    font-weight: 700;
    border-radius: 6px 0 0 0;
    border: 2px solid var(--White);
}
.SearchPropertyListing .selectButtonsListing .btn {
    width: 25%;
    border: 2px solid var(--White);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 15px 20px;
    Background-color: var(--Primary);
    color: var(--White);
    font-weight: 700;
    border-radius: 6px 0 0 0;
}
.SearchPropertyListing .selectButtonsListing .btn2 {
    width: 25%;
    border: 2px solid var(--White);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 15px 20px;
    Background-color: var(--Primary);
    color: var(--White);
    font-weight: 700;
}
.SearchPropertyListing .selectButtonsListing .btn3 {
    width: 25%;
        border: 2px solid var(--White);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 15px 20px;
    Background-color: var(--Primary);
    color: var(--White);
    font-weight: 700;
    border-radius: 0 6px 0 0;
}
.SearchPropertyListing .selectButtonsListing .btn4 {
    width: 25%;
        border: 2px solid var(--White);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 15px 20px;
    Background-color: var(--White);
    color: var(--Paragraph);
    font-weight: 700;
    border-radius: 0 6px 0 0;
}
.SearchPropertyListing .textLocation {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 10px 0;
    flex-wrap: wrap;
}

.SearchPropertyListing .textLocation h4 {
    margin: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: var(--Gray);
}

.SearchPropertyListing .textLocation button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 5px 15px;
    Background-color: rgba(0,0,0,0.6);
    color: var(--White);
    font-weight: 500;
    border: none;
    margin: 5px;
    border-radius: 25px;
}



.SearchPropertyListing .icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 10px 0;
    flex-wrap: wrap;
}
.SearchPropertyListing .icons .unic {
    display: flex;
    flex-direction: row;
    align-items:  flex-start;
    justify-content: center;
    padding: 10px 20px;
    border-radius: 20px;
    margin: 5px;
    background-color: rgba(99,99,99, 0.5);
    color: var(--White);
    cursor: pointer;
}

.SearchPropertyListing .icons .unic svg {
    margin-right: 5px;
}
.SearchPropertyListing .icons .unic:hover {
    background-color: rgba(237,50,55, 0.9);
}
